.account-page {
    background-color: #2d3a4b;
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .el-form {
        max-width: 100%;
        width: 467px;
    }
}