.hb_ww_content1 {
  background: #fff;
  padding: 70px 15px;
}
.hb_ww_content1 .infolist li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.hb_ww_content1 .infolist li .infolist_left {
  display: inline-block;
  width: 20%;
  margin-right: 20px;
  font-size: 14px;
  color: #535658;
  text-align: right;
}
.hb_ww_content1 .infolist li .infolist_right {
  position: relative;
  width: 80%;
}
.hb_ww_content1 .infolist li .infolist_right .fa-caret-down {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #55585a;
}
.hb_ww_content1 .infolist li .infolist_right input {
  border: 1px solid #e2e3e4;
  padding: 8px 10px;
  width: 100%;
  text-align: left;
}
.hb_ww_content1 .infolist li .infolist_right input::-webkit-input-placeholder {
  color: #8e8e8e;
  font-size: 12px;
}
.hb_ww_content1 .infolist li .infolist_right input::-moz-placeholder {
  color: #8e8e8e;
  font-size: 12px;
}
.hb_ww_content1 .infolist li .infolist_right input:-moz-placeholder {
  color: #8e8e8e;
  font-size: 12px;
}
.hb_ww_content1 .infolist li .infolist_right input:-ms-input-placeholder {
  color: #8e8e8e;
  font-size: 12px;
}
.hb_ww_content1 .submit-btn-container {
  text-align: center;
  padding: .6rem .4rem 0;
}
.hb_ww_content1 .submit-btn-container .submit_btn {
  padding: 8px 10px;
  background-color: #1ab394;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 85%;
  font-size: 14px;
  margin-top: 50px;
}
