// * {
//   box-sizing: border-box;
//   // touch-action: none;

//   -webkit-tap-highlight-color: transparent; //iOS 去掉点击小黑块

//   // iOS 去掉长按出现复制粘贴
//   // -webkit-touch-callout:none;  /*系统默认菜单被禁用*/ 
//   // -webkit-user-select:none; /*webkit浏览器*/
//   // -khtml-user-select:none; /*早期浏览器*/
//   // -moz-user-select:none;/*火狐*/
//   // -ms-user-select:none; /*IE10*/
//   user-select: none;
// }
input,textarea {
  // input
    -webkit-user-select:auto; /*webkit浏览器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}
::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
  color:#c3c3c3;
  font-size: .12rem;
}
:-moz-placeholder{ /* WebKit, Blink, Edge */
  color:#c3c3c3;
  font-size: .12rem;
}
::-moz-placeholder{ /* WebKit, Blink, Edge */
  color:#c3c3c3;
  font-size: .12rem;
}
:-ms-input-placeholder{ /* WebKit, Blink, Edge */
  color:#c3c3c3;
  font-size: .12rem;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  cursor: pointer;
}

ul, dl, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li, dd, dt {
  list-style: none;
  margin-left: 0;
}
// html {
//   font-size: 625%;
// }
html,body{
	height: 100%;
}
body{
  font-size: 14px;
  background-color: #f4f5f5;
}
button, input{
  outline: none;
  border: 0;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;/*清除ios默认圆角*/
	&:focus{
		outline: none;
	}
  &[disabled] {
    opacity: 0.6;
  }
}

.container {
  min-height: 100vh;
  max-width: 1400px;
  min-width: 960px;
  margin: 15px auto;
  width: 90vw;
}



.bold {
	font-weight: @bold;
}
.flex-center {
	display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.talc {
  text-align-last: center;
}
.wh-full{
  height:100%;
  width: 100%
}
.mt-15{
	margin-top: .15rem !important;
}
.mt-20{
  margin-top: 20px;
}
.ml-10 {
  margin-left: .1rem !important; 
}
.w-100 {
  width: 100% !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-60 {
  padding-right: .6rem !important;
}
.ffc {
  color: #ff9c97;
}
.right-arrow:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px;
}
.nowrap {
  white-space: nowrap;
}
.blur {
  filter: blur(10px);
}
.btn-radius {
  border-radius: 3px;
}
.btn-select-active {
  &:active {
    opacity: 0.6;
  }
}
.buy {
  color: #1ab394
}
.sell {
  color: #e7527c;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}